.contact {
  padding: 64px 16px 88px 16px;
  background: #dbeaf7;
  @media (min-width: $tablet) {
    margin: 0 auto;
    
  }
  &__description {
   
    margin-bottom: 56px;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: $text-dark-blue;
    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 40px;
     
    }
  }
  &__mail {
    background: $text-link2;
    border-radius: 64px;
    font-style: normal;
    font-size: 20px;
    line-height: 40px;
    align-self: center;
    display: inline-block;
    padding: 4px 20px;
    margin-top: 64px;
    @media (min-width: $desktop) {
      margin: 0 0 0 40px;
    }

    &--dec {
      text-decoration: none;
      color: #ffffff;
    }
  }
  &__links {
    @media (min-width: $desktop) {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    max-width: 580px;

  }
  }
  &__social {
    display: flex;
    justify-content: center;
    &--item {
      text-decoration: none;
      margin: 0 12px;
    }

  }
  &__title {
    font-size: 36px;
    line-height: 48px;
    color: $text-dark;
    @media (min-width: $tablet) {
      font-size: 48px;
      line-height: 56px;
    }
  }
}
.footer {
  background: #dbeaf7;
  padding: 24px;

  &__box {
    background: $text-link2;
    border-radius: 64px;
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 4px 20px;
    margin: 24px;
  }
}
