.contact {
  padding: 64px 16px 88px 16px;
  background: #dbeaf7;
  &__description {
    // max-width: 782px;
    margin-bottom: 56px;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
  }
  &__details {
    // margin-bottom: 88px;
    // height: 48px;
    // max-width: 652px;
    // text-decoration: none;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-around;
  }
  &__mail {
    background: $text-link2;
    border-radius: 64px;
    font-style: normal;
    font-size: 20px;
    line-height: 40px;
    align-self: center;
    display: inline-block;
    padding: 4px 20px;
    margin-top: 64px;

    &--dec {
      text-decoration: none;
      color: #ffffff;
    }
  }
  &__social {
    display: flex;
    justify-content: center;
    &--facebook {
      text-decoration: none;
      margin: 0 12px;
    }
    &--github {
      margin: 0 12px;
    }
    &--linkedin {
      text-decoration: none;
      margin: 0 12px;
    }

  }
  &__title {
    font-size: 36px;
    line-height: 48px;
    color: $text-dark;
  }
}
.footer {
  background: #dbeaf7;
  padding: 24px;

  &__box {
    background: $text-link2;
    border-radius: 64px;
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 4px 20px;
    margin: 24px;
  }
}
