@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.intro {
  padding: 16px 16px 88px 16px;
  @media (min-width: $tablet) {
    max-width: 982px;
    padding: 16px 16px 176px 16px;
    margin: 0 auto;
  }
  
  &__about {
    display: flex;

    &--bracket {
      @media (max-width: $tablet) {
        display: none;
      }
    }
    &--special {
      color: $blue;
    }
    &--title {
      font-size: 26px;
      line-height: 32px;
      color: $text-dark;
      margin-bottom: 16px;
      margin-top: 0;
      @media (min-width: $tablet) {
        font-size: 32px;
        line-height: 40px;
        padding: 26px 16px 0;
      }
    }
  }
  &__bubble {
    position: absolute;
  }
  &__description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: $text-dark-blue;
    @media (min-width: 817px) {
      font-size: 20px;
      line-height: 40px;
    }
    &--special {
      color: $text-link2;
      text-decoration: none;
      font-weight: bold;
      &:hover {
        color: $text-dark;
      }
    }
  }
  &__header {
    margin-bottom: 40px;
    margin-top: 98px;
  }
  &__hello-box {
    display: none;
    @media (min-width: $tablet) {
      display: inline-block;
      position: relative;
      padding: 12px 15px;
      margin: 0;
      background: $blue;
      border-radius: 16px;
      bottom: 20px;
      color: #ffffff;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 40px;
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 17.42px;
        height: 22.66px;
        top: 99%;
        left: 32px;
        background: url("../assets/img/Speech_cloud.svg");
      }
    }

    &--emoji {
      animation-name: wave;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      transform-origin: 70% 70%;
      display: inline-block;
      margin-left: 4px;
    }
  }
  &__image {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 14px solid #f6f9fd;
    box-sizing: border-box;
    @media (min-width: $tablet) {
      width: 178px;
      height: 178px;
      border-radius: 50%;
      border: 20px solid #f6f9fd;
      box-sizing: border-box;
      position: relative;
    }
  }
  &__mail {
    background: $text-link2;
    border-radius: 64px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    line-height: 40px;
    display: inline-block;
    align-self: center;
    padding: 4px 24px;
    margin-top: 52px;
  }
}
