// @keyframes wave {
//   0% {
//     transform: rotate(0deg);
//   }
//   10% {
//     transform: rotate(14deg);
//   }
//   20% {
//     transform: rotate(-8deg);
//   }
//   30% {
//     transform: rotate(14deg);
//   }
//   40% {
//     transform: rotate(-4deg);
//   }
//   50% {
//     transform: rotate(10deg);
//   }
//   60% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(0deg);
//   }
// }

.intro {
  padding: 16px;
  display: flex;
  flex-direction: column;
  &__about {
    // margin-top: 72px;
    // margin: auto;
    &--bracket {
      display: none;
    }
  }
  &__description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    &--special {
      color: $text-link2;
      text-decoration: none;
      font-weight: bold;
      &:hover {
        color: $text-dark;
      }
    }
  }
  &__header {
    // display: flex;
    // flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 98px;
  }
  &__hello-box {
    display: none;
    padding: 12px 15px;
    margin: 0;
    background: $blue;
    border-radius: 16px;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    &--emoji {
      animation-name: wave;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      transform-origin: 70% 70%;
      display: inline-block;
      margin-left: 4px;
    }
  }
  &__image {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 16px solid #f6f9fd;
    box-sizing: content-box;
  }
  &__mail {
    background: $text-link2;
    border-radius: 64px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    line-height: 40px;
    display: inline-block;
    align-self: center;
    padding: 4px 24px;
    margin-top: 52px;
    margin-bottom: 88px;
  }
  &__title {
    font-size: 26px;
    line-height: 32px;
    color: $text-dark;
    margin-bottom: 16px;
    margin-top: 0;
    &--special {
      color: $blue;
    }
  }
}
