.skills {
  background: $blue;
  padding: 64px 16px 88px 16px;
  color: #fff;
  &__header {
    margin: 0;
    font-size: 36px;
    line-height: 48px;
    @media (min-width: $tablet) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  &__column {
   
  }
}
.skills-section {
  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1184px;
    margin: auto;
  }
 
  &__box {
    margin-top: 64px;
  }
  &__element {
    text-align: left;
    font-style: normal;
    width: 288px;
    margin: 0 auto;
    color: $lightblue;
    font-size: 16px;
    line-height: 38px;
    list-style-type: none;

    &--green {
      list-style-image: url(../assets/img/small-tick.svg);
    }
    &--white {
      list-style-image: url(../assets/img/white-small-tick.svg);
    }
    &--yellow {
      list-style-image: url(../assets/img/yellotw-small-tick.svg);
    }
  }

  &__item {
    padding-left: 12px;
  }
  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
    &--emoji {
      font-size: 64px;
    }
  }
}
