@import "~normalize.css";

// @import "_variables";
// @import "modules/contact.scss";
// @import "modules/intro.scss";
// @import "modules/projects.scss";
// @import "modules/skills.scss";


@import "_variables";
@import "modules/contact-mobile.scss";
@import "modules/intro-mobile.scss";
@import "modules/projects-mobile.scss";
@import "modules/skills-mobile.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap");

html {
  box-sizing: border-box;
}

// *,
// *::before,
// *::after {
//   box-sizing: inherit;
// }

body {
  
  
  // display: flex;
  // max-width: 960px;
  

  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Nunito;
}
